.footer {
  width: 100%;
  background-color: #736eaf;
  font-size: x-large;
  font-weight: bold;
  height: 7rem;
  opacity: 200px;
  border: 10px goldenrod;
  border-color: crimson;
  box-shadow: brown;
}

.h2 {
  color: azure;
  margin-left: 50px;
  padding-top: 0.5rem;
}
